<% title "Rainbow" %>

  <p>
    Welcome to Rainbow, Transparency International Georgia's data-visualization catalog.
  </p>
  <p>
    Here's the list of our data-visualizations:
    <ul>
      <li><%= link_to(t('app.common.budget_link'), budget_show_path(:locale => I18n.locale))%></li>
    </ul>
  </p>

