<% title "Rainbow" %>

  <p>
    Welcome to Rainbow, Transparency International Georgia's data-visualization catalog.
  </p>
  <p>
    Here's the list of our data-visualizations:
    <ul>
      <li><a href='budget/show'>Georgian budget</a></li>
    </ul>
  </p>

