<% title t('app.common.app') %>

  <p>
    <%= t('root.welcome') %>
  </p>
  <p>
    <%= t('root.data-viz') %>:
    <ul>
      <li><%= link_to(t('app.common.budget_link'), budget_show_path(:locale => I18n.locale))%></li>
    </ul>
  </p>

